Options -Indexes
RewriteEngine on
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
# %{HTTP_HOST} = domain
# %{REQUEST_URI} = /vl_web/...

# rewrite pages
RewriteRule ^projects$  ./projects.php [L]

# 404 image
# RewriteRule \.(gif|jpe?g|png|bmp) ./assets/img/misc/404.png [NC,L]

# Ht Errors
ErrorDocument 404 /tholeb.fr/assets/resources/hterr/index.php?error=404
ErrorDocument 403 /tholeb.fr/assets/resources/hterr/index.php?error=403
ErrorDocument 500 /tholeb.fr/assets/resources/hterr/index.php?error=500
ErrorDocument 503 /tholeb.fr/assets/resources/hterr/index.php?error=503
