@import "./assets/css/vars";
/* additional color */
.blue-grey.darken-4{
  background-color:#1d2127 !important;
}

.grey.darken-3{
  background-color:#181821 !important;
}

.grey.darken-5{
  background-color:#0e0e0e !important;
}

.grey.darken-6{
  background-color:#060606 !important;
}
.green-text.text-accent-5{
  color:$color-fade1 !important;
}
.green-text.text-accent-6{
  color:$color-fade2 !important;
}
.badge.green.accent-5{
 background-color:$color-fade1 !important;
 color:black !important;
}
.btn.green.accent-5{
 background-color:$color-fade1 !important;
 color:black !important;
}
.green.accent-5{
  background-color:$color-fade1 !important;
}
.green.accent-6{
  background-color: $color-fade2 !important;
}
