.blue-grey.darken-4 {
  background-color: #1d2127 !important;
}

.grey.darken-3 {
  background-color: #181821 !important;
}

.grey.darken-5 {
  background-color: #0e0e0e !important;
}

.grey.darken-6 {
  background-color: #060606 !important;
}

.green-text.text-accent-5 {
  color: #d500f9 !important;
}

.green-text.text-accent-6 {
  color: #ff4081 !important;
}

.badge.green.accent-5 {
  background-color: #d500f9 !important;
  color: black !important;
}

.btn.green.accent-5 {
  background-color: #d500f9 !important;
  color: black !important;
}

.green.accent-5 {
  background-color: #d500f9 !important;
}

.green.accent-6 {
  background-color: #ff4081 !important;
}
